@*This View made using List as template (MVC generates this table code)*@

@model IEnumerable<BartenderApp.Models.Drink>


@{
    ViewBag.Title = "ViewOrdersTable";
}

<h2>Orders Queue</h2>


@*This View Displays all of the drinks on the Ordered List, pulling table header and data from the model*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name;    @*Nick rec using item.Name here vs @Html.DisplayFor || not sure that works for the table header*@ 
        </td>
        <td>
            @item.Description;
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) @*modelItem may be doing nothing here*@
        </td>               
        <td>
            @Html.ActionLink("Prepare Drink", "Prepared", item) |

        </td>
    </tr>
}

</table>

@*See "HtmlHelper Methods" in Pro ASP Summary  *@