@model BartenderApp.Models.Drink
    

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>
    
    @using (Html.BeginForm("AddToQue", "Queue"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.Name)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Order" />
        </div>
    }

    <span class="lead"> @Model.Description</span>
</div>

